{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Kitchen service - Cooks list</title> {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/Headers/chef.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">{{ full_number_of_cooks }}</h1>
          <p class="lead text-white mt-3"> chief{{ cook_list|pluralize }} added their specialties </p>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<div class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ms-auto">
        <form action="" method="get" class="form-check-inline" style="display: flex">
          {{ search_form }}
          <input type="submit" value="Search" class="btn bg-gradient-primary mb-0" style="margin-left: 5px">
        </form>
      </div>
      <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
        <a href="{% url 'service:cook-create' %}" class="btn btn-primary">Add chief</a>
      </div>
      {% if cook_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Years of experience</th>
            </tr>
          </thead>
          <tbody>
            {% for chef in cook_list %}
              <tr>
                  <td>{{ chef.id }}</td>
                  <td><a href="{% url 'service:cook-detail' pk=chef.id %}">{{ chef.username }}{% if chef.id == user.id %} (Me) {% endif %}</a></td>
                  <td>{{ chef.first_name }}</td>
                  <td>{{ chef.last_name }}</td>
                  <td>{{ chef.years_of_experience }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>

{% endblock javascripts %}
