{% extends 'base.html' %}
{% block content %}
  <div class="pt-5">
  <div class="container">
    <div class="row" style="margin-top: 50px">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
        <th>Implemented dishes</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ cook.id }}</td>
            <td>{{ cook.username }}{% if cook.id == user.id %} (Me) {% endif %}</td>
            <td>{{ cook.first_name }}</td>
            <td>{{ cook.last_name }}</td>
            <td>{{ cook.years_of_experience }}</td>
            <td>{% if cook.dishes.all %}{{ cook.dishes.all }}{% endif %}</td>
        </tr>
    </tbody>
  </table>
    <ul class="navbar-nav navbar-nav-hover" style="display: inline">
      <li class="nav-item my-auto ms-3 ms-lg-0" style="display: inline">
        <a href="{% url 'service:cook-delete' pk=cook.id %}"
          class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1 mt-2 mt-md-0" style="display: inline">Delete</a>
      </li>
      <li class="nav-item my-auto ms-3 ms-lg-0" style="display: inline">
        <a href="{% url 'service:cook-update' pk=cook.id %}"
          class="btn btn-sm  bg-gradient-faded-info  btn-round mb-0 me-1 mt-2 mt-md-0" style="display: inline; color: #fff">Update</a>
      </li>
    </ul>
    </div>
    </div>
    </div>

{% endblock %}